html, body{
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.flex-grow-1{
    flex-grow: 1;
    margin: 30px;
}
body {
    background-color: #686868; /*cuerpo*/
}

.card {
    background-color: #5c2929; /*cambia el color del card */
}
.accordion-button {
    background-color: #7288a0; /* color del fondo */
    color: white; /*color del texto */
}



.accordion-item {
    background-color: #881818; /* color interno del acordeon */
}


/*
.container {
    background-color: #41173b; 
}
    .accordion-body {
    background-color: #f8f9fa; 
  
}

/*