body{
    background-image: url(img/Cave.webp);
}
html, body{
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.container{
    height: auto;
    width: 100%;
}
.custom-navbar{
    background-color: #1e283b;
}
.custom-navbar .nav-link{
    color: whitesmoke;
}
.custom-navbar .nav-link:hover{
    color: blue;
}

.flex-grow-1{
    flex-grow: 1;
    margin: 30px;
}

.card {
    background-color: #1e283b; /*cambia el color del card */
    color: whitesmoke;
}
.accordion-button {
    background-color: #1e283b; /*cambia el color del card */
    color: white; /*color del texto */
}
.accordion-body{
    background-color: #626976;
    color: whitesmoke;
}


.accordion-item {
    background-color: #626976; /* color interno del acordeon */
}

#footer{
    color: whitesmoke;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
.custom-nav-width {
    width: 3500px;
}